* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.125rem;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
}



button {
    display: block;
    width: 100%;
    text-align: left;
    background-color: inherit;
    font: inherit;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
}

button span {
    font-weight: bolder;
    margin-right: 10px;
}

button:hover,
.selected {
    background-color: #cccccc;
}

.container {
    display: flex;
    min-height: 100vh;

}

.projects {
    background-color: #fcfaf8;
    flex: 1;
    padding: 1rem;
}

.projects > * {
    margin-bottom: 1rem;
}

.project {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.project .delete-project {
    display: none;
}

.project:hover .delete-project {
    display: block;
}

.project-form {
    display: none;
}

.project-form > * {
    margin-bottom: 0.5rem;
}

.project-form input {
    border: 1px solid black;

    padding: 5px 10px;
}

.project-form .controls {
    gap: 10px;
}

.tasks {
    flex: 4;
    padding: 1rem;
}

.task.done h3,
.task.done p {
    text-decoration: line-through;
}

.tasks > * {
    margin-bottom: 1rem;
}

.task.done {
    background-color: #e0e0e0;
}

.task.done h3,
.task.done p {
    text-decoration: line-through;
}

.task > *:not(:last-child) {
    margin-bottom: 1rem;
}

.task:not(:last-child) {
    margin-bottom: 1rem;
}

#addTask {
    max-width: 500px;
}

.task-form {
    max-width: 500px;
    border: 2px solid #d2d2d2;
    display: none;
    padding-inline: 0.5rem;
}

.task-form > div:not(:last-child) {
    margin-bottom: 1rem;
}

input {
    font: inherit;
    border: none;
    width: 100%;
}
input:focus {
    outline: none;
}

textarea {
    font: inherit;
    width: 100%;
    resize: none;
}

.date {
    display: flex;
}
.date > * {
    flex: 1;
}

.controls {
    display: flex;
    gap: 3rem;
}

.controls button {
    text-align: center;
}

.task-container {
    max-width: 500px;
}

.task {
    border: 2px solid #d2d2d2;
    padding: 0.5rem;
}



.priority {
    display: flex;
    align-items: center;
}

.priority > * {
    flex: 1;
}

select {
    font: inherit;
    flex: 1;
}

